<h3>Cart</h3>
<h4 *ngIf="items.length <=0 "> You don't have any product on the cart yet</h4>
<h4><a [routerLink]="['/shipping']" *ngIf="items.length > 0">Shipping Prices</a></h4>
<section class="item-list">
  <app-product-cart-view class="item-to-buy" *ngFor="let product of items" [product]="product" (removeEvent)="onRemove($event)"> </app-product-cart-view>
</section>
<h5 *ngIf="totalPrice > 0">Total price {{ totalPrice }}  $ </h5>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" *ngIf="items.length > 0">
    <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>
    
      <div>
        <label for="address">
          Address
        </label>
        <input id="address" type="text" formControlName="address">
      </div>
    
      <button class="button" type="submit">Purchase</button>
</form>