
.item-to-buy{
    border: 1px solid #616161;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    margin-bottom: 20px;
    
}

h4{
    color: #1976d2;
}