.item-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.item-to-buy{
    border: 1px solid #616161;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    
}


h4{
    color: #1976d2;
}